#filterBox input[type=text], #filterBox select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#filterBox input[type=submit],
#filterBox button {
  width: 50%;
}

.action-box {
	display: flex;
}


#filterBox {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.filterLabelBox {
  padding: 16px;
  box-sizing: border-box;
  margin-top: 16px;
  box-shadow: 5px 10px #d9cbff;
  border: 1px solid #6f3bff33;
}

.filterLabelBox header{
  margin-bottom: 8px;
}

.filterLabel {
	display: inline-block;
	padding: 8px;
	box-sizing: border-box;
	margin: 4px 8px;
	border-radius: 4px;
	background-color: #6f3bff;
	color: white;
	font-size: 14px;
}

.newFiltersButton {
  background-color: #a60202;
}

.newFiltersButton:hover {
  background-color: #5b0000;
}