
	/* @media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  { */

#UserLog {
  border-collapse: collapse;
  margin: 0 auto;
}

#UserLog td, #UserLog th {
  border: 1px solid #ddd;
  padding: 8px;
}

#UserLog tr:nth-child(even){background-color: #f2f2f2;}

#UserLog tr:hover {background-color: #ddd;}

#UserLog th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #9873ff;
  color: white;
}